body {
    text-align: center;
    background-color: white;
    font-family: Verdana, Arial;
}

.main {
    margin: 0px auto;
    text-align: left;
    border: 2px solid black;
    background-color: white;
}

.titlepicture {
    height: 250px;
    border: 0px solid blue;
    text-align: center;
    padding: 5px;
    background-color: aqua;
}

.menutop {
    border: 1px solid black;
    background-color: darkblue;
    height: 30px;
    text-align: center;
    color: white
}

.titel {
    border: 0px solid black;
    padding-top: 5px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.content {
    border: 0px solid black;
    background-color: lightblue;
    min-height: 100px;
}

.headergrid {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 10% 10% 10% 10% 10% 10% 10% 5% 5%;
    background-color: #0258A1;
}

.headerheadline {
    grid-row: 2;
    grid-column: 5 /span 7;
    text-align: center;
    color: white;
}

.header_ataboutwriting {
    grid-row: 4;
    grid-column: 5 /span 7;
    color: white;
}

.item1 {
    grid-area: header;
    background-color: #001b2e;
    padding: 0px;

}

.content {
    grid-area: main;
    background-color: white;
}

.main {
    grid-area: main;
    border-bottom: solid;
    border-color: gray;
}